/* purgecss start ignore */

@namespace svg url(http://www.w3.org/2000/svg);
svg|a text,
text svg|a,
svg|a:visited {
  fill: white; /* Even for text, SVG uses fill over color */
}

svg {
  width: 100%;
  height: auto;
}

/* purgecss end ignore */
